body{
    text-align: center;
}
p{
    font-family: monospace;
    font-size: 24px;

}

th{
    font-family: monospace;
    font-size: 24px;

}

.imagemDeFundo{
    width: auto;
    background-color: #FFC72C;
    height: 700px;
}

img{
    height: 580px;
}

span{
    background-color: #DA291C;

}

h1{
    font-family: monospace;
    font-size: 24px;   
}